---
import { cn } from "../../lib/utils";

interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...props } = Astro.props as Props;
---

<div class={cn("p-6 pt-0", className)} {...props}>
  <slot />
</div>